//imports
@import "_vars";
@import "_nav";
@import "_commons";


.titulo-index{
    font-family: $mainFont;
    text-align: center;
    font-size: $textXl;
    font-weight: bold;
    color:$colorBlack;
    margin: 60px;
}

.texto-principal{
    font-family: $mainFont;
        font-size: $textLg;
        text-align: center;
        color: $colorBlack;
        max-width: 1400px;
        width: 80%;
        height: auto;
        padding: 45px 20px;
        margin: 0 auto;
        margin-top: 50px;
}
//media query textos index
@media (min-width:320px) and (max-width:786px){
    .titulo-index{
        font-size: $textMd;
        font-weight: $fontBold;
    }
    .texto-principal{
        font-size: $textXsm;
        font-weight: $fontRegular;
        padding: 10px 5px;
        margin-top: 10px;
    }
}

//imagenes index
.container-img{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px;
    grid-gap: 20px;
        figure{
            width: 100%;
            height: 100%;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
        }
    }
}
.container-img .box-img:nth-child(1){
    grid-column-start: span 2;
}
.container-img .box-img:nth-child(4){
    grid-row-start: span 2;
}

//media query de la seccion de imagenes del index
@media screen and (max-width:768px){
    .container-img{
        width: 95%;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        grid-template-rows: 200px;
    }
    .container-img .box-img:nth-child(1){
        grid-column-start: span 1;
    }
}
@media screen and (max-width:320px){
            .container-img{
            width: 80%;
            grid-template-columns: 1fr;
        }
            .container-img .box-img img{
            width: 100%;
        }
}


.video{
    padding: 40px;
    margin-bottom: 200px;
}

@media (min-width:320px) and (max-width:786px){
    .video{
        padding: 20px;
        margin-bottom:50px;
    }
}
//inicio galeria

#galeria .col-lg-3{
    margin: 0;
    padding: 25px;
}

#galeria img{
    width: 100%;
    height: 450px;
    &:hover{
        border: 2.5px solid $mainColor;
    }
}

.text-center h1{
    font-size: $textXl;
    font-weight: bold;;
        p{
        font-size: $textSm;
    }
}
// media query galeria
@media screen and (max-width:320px){
    .text-center h1{
        font-size: $textMd;
        font-weight: $fontBold;
        p{
            font-size: $textXsm;
        }
    }
}
@media screen and (max-width:768px){
    #galeria img{
        width:280px ;
        height: 450px;
    }
}

//pagina expositores
.title{
    font-size: $textXl;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}
.card{
    height: 100%;
    background-color: $colorBlack;
    color:$colorwhite;
    text-align: center;
}
.card-title{
    font-size: 30px;
    color: $colorwhite;
    font-weight: 600;
}
.btn{
    width: 250px;
    margin-bottom: 20px;
    &:hover{
        color: $colorRed;
    }
}
@media (min-width:320px) and (max-width:768px){
    .title{
        font-size: $textMd;
    }
}

//tienda
.title-tienda{
    text-align: center;
    font-size: $textXl;
    font-weight: bold;
    color: $colorBlack;
    margin-top: 80px;
}
.contenedor_tienda{
    margin-top: 80px;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows:repeat(4, 1fr);
    column-gap:30px ;
    row-gap: 30px;
    justify-items:center;
}
.contenedor-producto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-color:$colorBlack;
    border: 2px;
    border-radius: 30px;
    background-color: $colorwhite;
    width: 350px;
    height: 100%;
    margin: 10px;
    border: 2px solid $colorBlack;
}
.title-producto{
    color:$colorBlack;
    font-size: $textMd;
    font-weight:$fontBold;
    text-align: center;
    padding: 30px;
}
.imagenProducto{
    width: 300px;
    height: 300px;
}

.descripcion{
    margin: 25px;
    color:$colorBlack;
    font-size: $textXsm;
    font-weight: $fontBold;
    text-align: center;
    border:1px;
    border-color: $colorBlack;

}

.marca{
    font-size: $textMd;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.button-compra{
    background-color: $colorGrenn;
    color: $colorwhite;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-weight: 600;
    height: 40px;
    width: 200px;
    border-radius: 10px;
    border: none;
    margin-bottom: 10px;
    cursor: pointer;
    &:hover{
        color: $colorBlack;
    }
}

/*media queries tienda*/

@media (min-width:320px) and (max-width:768px){
    .contenedor_tienda{
        margin-top: 60px;
        margin-bottom: 60px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows:repeat(4, 1fr);
        column-gap:5px ;
        row-gap: 5px;
        justify-items: center;
    }
    .contenedor-producto{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border-color: $colorBlack;
        border: 2px;
        border-radius: 30px;
        background-color: $colorwhite;
        width: 300px;
        height: 580px;
        margin: 10px;
        border: 2px solid $colorBlack;
    }
    .imagenProducto{
        width: 250px;
        height: 250px;
    }
    .title-tienda{
        text-align: center;
        font-size: $textMd;
        color: $colorBlack;
        margin-top: 30px;
    }
    
}


/*Contacto*/

.titulo-contacto{
    font-size: $textXl;
    color:$colorBlack;
    text-align: center;
    margin: 80px;
}
.form-titulo{
    background-color: $colorGrenn;
    color: $colorwhite;
    padding: 20px;
    text-align: center;
    font-weight: $fontRegular;
    font-size: $textMd;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 2px solid $colorBlack;
}
.form-register{
    width: 95%;
    max-width: 500px;
    margin: auto;
    background-color: $colorwhite;
    border-radius: 10px;
    margin-bottom: 60px
}
.contenedor-inputs{
    padding: 10px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    input{
        margin-bottom: 15px;
        padding: 15px;
        font-size: 15px;
        
    }
}

.input-48{
    width: 48%;
}
.input-100{
    width: 100%;
}
.btn-enviar:active{
    transform: scale(1.05);
}
.btn-enviar{
    width: 250px;
    color: $colorwhite;
    background-color: $colorBlack;;
    margin: auto;
    padding: 10px 40px;
    border-radius: 7px;
    cursor: pointer;
    &:hover{
        color: $colorRed;
    }

}

.contenedor-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    text-align: center;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto; 
    background-color: $colorwhite;
    padding: 50px;
    border-radius: 10px;
    margin-bottom: 60px;
}  
.titulo{
    font-size: 25px;
    font-weight: 600;
}
.info{
    font-size: 20px;
}
.info-mapa{
    height: 600px;
    width: 600px;
    border-radius: 10px;
    
}

@media (min-width:320px) and (max-width:768px){
    .contenedor-info {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 20px;
        justify-content: center;
        width:95%;
        margin: 0 auto; 
        background-color: $colorwhite;
        border-radius: 10px;
        margin-bottom: 60px;
    }  
    .titulo-contacto{
        font-size: $textMd;
        font-weight: 600;
    }
    .info{
        font-size: 15px;
    }
    .info-mapa{
        width: 250px;
        height: 250px;

    }
}
