//variables globales

//colors
$mainColor:#f2b705;
$colorBlack:#242426;
$colorwhite:#f2f2f2;
$colorGrenn:#47A603;
$colorRed:#F21F0C;
$colorWhiteX:#ffffff;

//fonts
$mainFont: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

//sizing
$textXsm:.6em;
$textSm:.8em;
$textMd:1em;
$textLg:2em;
$textXl:3em;
$textXxl:3.5em;

//font weight

$fontLight:100;
$fontMed:200;
$fontRegular:400;
$fontXregular:500;
$fontBold:600;

