
header{
    img{
        width:100%
    }
}

body{
    background-color: $mainColor;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



.logo{
    align-items: center;
    width: 200px;
    height: auto;
    
}
